/*@import url("pages/manageProject/manageProject.css"); !* General Styles *!*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #0078d7;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Main Content */
main {
    padding: 20px;
}

h1,
h2 {
    margin: 0 0 10px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

/* Form and Buttons */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #0078d7;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005bb5;
}

/* Project List */
#projects {
    list-style: none;
    padding: 0;
}

#projects li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#projects li:hover {
    background-color: #f1f1f1;
}

.project-actions button {
    margin-left: 10px;
}

/* Navbar styles */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #0078d7;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #005bb5;
}

.navbar a.active {
    background-color: #005bb5;
}

/* Main content styling */
main {
    padding: 20px;
    text-align: center;
}
